* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f5f6fa;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

p {
  color: #747990;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.checkbox-container {
  display: flex;
}

.btn,
.btn-secondary {
  background-color: #fc0303;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: 0.4s;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
  background: #fff;
  color: #fc0303;
  border: solid 3px #fc0303;
}

.btn-secondary {
  background-color: #fff;
  color: #283252;
  border: 1px solid #cfcfcf;
}

.btn-secondary:hover{
  opacity: 0.8;
  background: #fff;
  color: #fc0303;
  border: solid 3px #fc0303;
}

.btn{
  background-color: #fc0303;
  color: #fff;
  padding: .5rem 1rem;
  border-radius: 8px;
  transition: 0.4s;
  cursor: pointer;
}